body {
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("media/bgi.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5;
  z-index: -1;
}

h1 {
  color: #000000;
  font-size: 40px;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 40px;
  font-family: "citizen", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.input__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
  gap: 30px;
  font-family: "citizen", sans-serif;
  font-weight: 300;
  font-style: normal;
}

p,
button,
input,
div,
#imageInput {
  font-family: "citizen", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.explanation__container {
  display: block;
  margin: auto;
  width: 50%;
}

.explanation__button {
  text-align: center;
  text-decoration: none;
  display: block;
  margin: auto;
  width: 40%;
  background-color: #a04545;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  font-family: "citizen", sans-serif;
  font-weight: 300;
  font-style: normal;
  margin-top: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.explanation__button:hover {
  background-color: #8d2828;
}

#imageInput {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.label__file {
  display: inline-block;
  background-color: #a04545;
  color: white;
  padding: 10px 20px;
  font-family: "citizen", sans-serif;
  font-weight: 300;
  font-style: normal;
  cursor: pointer;
}

.label__file:hover {
  background-color: #8d2828;
}

.pseudo__button {
  background-color: #a04545;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  font-family: "citizen", sans-serif;
  font-weight: 300;
  font-style: normal;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pseudo__button:hover {
  background-color: #8d2828;
}

#imageInputLabel {
  font-family: "citizen", sans-serif;
  font-weight: 300;
  font-style: normal;
}
